/*
Header
*/
#mainTitle {
    font-family: 'Quicksand', sans-serif;
    color: #144554;
    font-size: 68px;
}
#mainTitle:hover {
    cursor: pointer
}
#imagePaws{
    width: 100%;
}
/*
Navigation
*/


#homeContactinfo {
    font-family: 'roboto', sans-serif;
    font-size: 41px;
    color: #144554;
    opacity: 0.85;
}
#homeContactEmail {
    font-family: 'roboto', sans-serif;
    font-size: 30px;
    color: #144554;
    opacity: 0.5;
}
#homeContactEmail:hover {
    cursor: pointer
}


#contentContainer {
    margin-top: 50px;
}
#homedogImage2 {
    display: table;
    margin: auto;
    width: 50%;
    background-image: url("../images/homedog.jpeg");
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

*sticky-image-wrapper {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

@media screen and (max-width: 900px) {
    #homedogImage2 {
        width: 100%;
    }
}


/*link animations */
/*-----------------------*/
#mainNav:hover {
   transition: all 0.15s ease-out;
}

#mainNav {
    font-family: 'Quicksand', sans-serif;
    color: #144554;
    font-size: 18px;
    display: inline-block;
    margin-left: 3vw;
    margin-right: 3vw;
    position: relative;
    text-decoration: none;
}
/*-----------------------*/